**/*e-classes
Servlet/**/*.log*
Servlet/**/*.pdf*
Servlet/**/*debug*
Servlet/**/*.launch
*.frm
*.~fr

# docker環境用ignore
docker/php-apache/resource/*.tgz
docker/php-apache/resource/*.tar.gz
docker/php-apache/resource/*.zip

#修正必要の際は、末尾[-development]で修正願います。
**/config/prepend.inc
**/config/gk.conf