@charset "utf-8";
@font-face {
	font-family: 'gaiji';
	src:url('/demo/image/EUDC.woff') format('woff');
}

body { 
  font-family: 'gaiji',"ＭＳ ゴシック; 
  font-size: 5mm;
}
INPUT{
  font-family: 'gaiji',"ＭＳ ゴシック";
  font-size: 5mm;
}
TEXTAREA{
  font-family: 'gaiji',"ＭＳ ゴシック";
  font-weight : normal;
}
SELECT{
  font-family : 'gaiji',"ＭＳ ゴシック";
  font-weight : normal;
}

table {
 margin: 10px auto;
 font-family: 'gaiji',"ＭＳ ゴシック"; font-size: 8mm;
 border-spacing: 3px;
}

#header-wrapper {
  height: 20px;
}
#header {
  height: 20px;
}
#site-title {
  padding: 10px 0 0 0;
}
td {
  padding: 4px;
  text-align: center;
  border: solid 1px #ccc;
  background: #fff;
  cursor: pointer;
}
td:hover {
background-color: #CCFFFF;  /* マウスオーバー時のセルの背景色 */
}

