<!--
@charset "utf-8";
table { font-family: "ＭＳ ゴシック", "Osaka"; }
td { font-family: "ＭＳ ゴシック", "Osaka";}
th { font-family: "ＭＳ ゴシック", "Osaka"; }
td.cln { font-family: "ＭＳ ゴシック", "Osaka"; }
body { 
  font-family: "ＭＳ ゴシック", "Osaka"; 
}


INPUT{
  font-family: "ＭＳ ゴシック", "Osaka"; 
}
TEXTAREA{
  font-family: "ＭＳ ゴシック", "Osaka"; 
}
SELECT{
  font-family: "ＭＳ ゴシック", "Osaka"; 
}
-->
