<!--<body onblur="focus()">-->
{rval start}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tbody>
          <tr>
            <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr class="no_search_line">
                  <td>
                  <table width="100%" border="0" cellspacing="1" cellpadding="3">
                    <tbody>
                      <tr class="no_search">
                        <th>{rval HEADER}</th>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr class="no_search_line">
                  <td>
                  <table width="100%" border="0" cellspacing="1" cellpadding="3">
                    <!--結果一覧-->
                    <tbody>
                      <tr class="no_search">
                        <th width="15%" rowspan="2" nowrap>&nbsp;教&nbsp;&nbsp;科&nbsp;</th>
                        <th width="22%" rowspan="2" nowrap>&nbsp;科&nbsp;&nbsp;目&nbsp;</th>
                        <th width="22%" rowspan="2" nowrap></th>
                        <th width="10%" colspan="2">１学年</th>
                        <th width="10%" colspan="2">２学年</th>
                        <th width="10%" colspan="2">３学年</th>
                        <th width="23%" nowrap rowspan="2">学習記録備考</th>
                      </tr>
                      <tr class="no_search">
                        <th nowrap>評定</th>
                        <th nowrap>単位</th>
                        <th nowrap>評定</th>
                        <th nowrap>単位</th>
                        <th nowrap>評定</th>
                        <th nowrap>単位</th>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <div style="width:100%;height:200;overflow:auto" ;>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr class="no_search_line">
                  <td>
                  <table width="100%" border="0" cellspacing="1" cellpadding="3">
                    <!--{each data}-->
                    <tbody>
                      <tr>
                        <td nowrap bgcolor="#ffffff" width="15.9%" style="vertical-align: top">{val data/CLASSNAME}</td>
                        <td nowrap bgcolor="#ffffff" width="21%" style="vertical-align: top">{val data/SUBCLASSNAME}</td>
                        <td nowrap align="right" width="5.1%" bgcolor="#ffffff">{val data/GRADES1}</td>
                        <td nowrap align="right" width="5.1%" bgcolor="#ffffff">{val data/CREDIT1}</td>
                        <td nowrap align="right" width="5.1%" bgcolor="#ffffff">{val data/GRADES2}</td>
                        <td nowrap align="right" width="5.1%" bgcolor="#ffffff">{val data/CREDIT2}</td>
                        <td nowrap align="right" width="5.1%" bgcolor="#ffffff">{val data/GRADES3}</td>
                        <td nowrap align="right" width="5.1%" bgcolor="#ffffff">{val data/CREDIT3}</td>
                        <td nowrap bgcolor="#ffffff" width="22.5%">{val data/REMARK1}&nbsp;{val data/REMARK2}&nbsp;{val data/REMARK3}</td>
                      </tr>
                      <!--{/each}-->
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: right">{val btn_back}</td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
  </tbody>
</table>
{rval finish}
