<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{val TITLE}</title>
  </head>
  <frameset rows="{val rows}" cols="*" framespacing="0" border="0" frameborder="0">
    <frame name="hidden_frame" src="{val hidden_src}" scrolling="auto">
    <frame name="top_frame" src="{val top_src}" scrolling="auto">
    <frameset cols="{val cols}" framespacing="0" border="1" frameborder="1">
      <frame name="left_frame" src="{val left_src}" scrolling="auto">
      <frame name="right_frame" src="{val right_src}" scrolling="auto">
    </frameset>
  </frameset>
</html>
