<html>
<head><title>{rval TITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset={rval CHARSET}">
<link rel="stylesheet" href="{rval CSS_FILE}">
<script language="JavaScript" src="{rval COMMON_JS_FILE}"></script>
<script language="JavaScript" src="{rval CCCHART}"></script>
<script language="JavaScript" src="{rval CHART}"></script>
<script language="JavaScript">
{rval JAVASCRIPT}
</script>
</head>
<body bgcolor="#ffffff" text="#000000" leftmargin="0" topmargin="0" marginwidth="5" marginheight="5"
link="#666699" vlink="#666699" alink="#666699">
{rval BODY}
</body>
</html>
<script language="JavaScript">
var msg = '{rval ERROR_MESSAGE}';
if (msg != ''){
    alert(msg);
}
</script>
