<!--
a:hover { color: #330066; font-weight:bold;}
table { font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; font-size: 3.8mm; }
td { font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; font-size: 3.8mm; }
th { font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; font-size: 3.8mm; font-weight:normal;}
td.cln { font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; font-size: 4.0mm; }
body { 
  font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; 
  font-size: 3.8mm;
}
/*
body { 
  font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; 
  font-size: 3.8mm;
  background-image:url(../image/menu/bg.gif); 
  background-attachment:fixed; 
}*/

.err { font-size:4.5mm;color:red;font-weight:bold; }

a.dontdel:link { color: #999999; text-decoration:none; }
a.dontdel:visited{ color: #999999; text-decoration:none; }

.no_search { background-color: #7379ae;color: #ffffff; } 
.search { background-color: #3399cc;color: #ffffff; } 
tr.no_search_line { background-color: #483d8b; } 
tr.search_line { background-color: #000066; }

INPUT{
  font-family: "ＭＳ ゴシック", "gaiji";
}
TEXTAREA{
  resize: none;
  font-family: "ＭＳ ゴシック", "gaiji";
  font-weight : normal;
}
SELECT{
  font-family : "ＭＳ ゴシック", "gaiji";
  font-weight : normal;
}


.sunko_header_x table {
    border:1px solid #483d8b;
}
.sunko_header_h table, .sunko_header_h th {
    border:1px solid #483d8b;
}
.sunko_header_v table, .sunko_header_v td {
    border:1px solid #483d8b;
}
.sunko_data table, .sunko_data td {
    border:1px solid #483d8b;
}
.sunko_field {
    border:1px solid #483d8b;
}

-->
