<!--
a { color: black; font-weight:nomal;}
a:hover { color: black; font-weight:bold;}
table { font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; font-size: 6.0mm; }
td { font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; font-size: 6.0mm;  background-color: yellow; border: 1px solid black; color: black;}
th { font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; font-size: 6.0mm; font-weight:normal;}
td.cln { font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; font-size: 4.0mm; }
body { 
  font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; 
  font-size: 6.0mm;
  background: yellow;
}
/*
body { 
  font-family: "ＭＳ ゴシック", "gaiji", "Osaka"; 
  font-size: 6.0mm;
  background-image:url(../image/menu/bg.gif); 
  background-attachment:fixed; 
}*/

.err { font-size:4.5mm;color:red;font-weight:bold; }

a.dontdel:link { color: #999999; text-decoration:none; }
a.dontdel:visited{ color: #999999; text-decoration:none; }

.no_search { background-color: black;color: yellow; } 
.search { background-color: #3399cc;color: #ffffff; } 
tr.no_search_line { background-color: yellow; } 
tr.search_line { background-color: #000066; }

INPUT{
  font-family: "ＭＳ ゴシック", "gaiji";
  font-size:6.0mm;
  width:auto !important;
  height:auto !important;
}
INPUT[type="radio"],
INPUT[type="checkbox"]{
  width:5.0mm !important;
  height:5.0mm !important;
}

TEXTAREA{
  resize: none;
  font-family: "ＭＳ ゴシック", "gaiji";
  font-size:6.0mm;
  font-weight : normal;
  height: auto !important;
}
SELECT{
  font-family : "ＭＳ ゴシック", "gaiji";
  font-weight : normal;
  font-size:6.0mm;
  width: auto !important;
}
-->
