<!--
@import url("font.css");
a:hover { color: #330066; font-weight:bold;}
table { font-size: 6.0mm; }
td { font-size: 6.0mm; }
th { font-size: 6.0mm; font-weight:normal;}
td.cln { font-size: 4.0mm; }
body { 
  
  font-size: 6.0mm;
  background: #f8f8ff;
}

.err { font-size:6.0mm;color:red;font-weight:bold; }

a.dontdel:link { color: #999999; text-decoration:none; }
a.dontdel:visited{ color: #999999; text-decoration:none; }

.no_search { background-color: #4183d7;color: #ffffff; } 
.search { background-color: #3399cc;color: #ffffff; } 
tr.no_search_line { background-color: #255476; } 
tr.search_line { background-color: #000066; }

INPUT{
  font-size:6.0mm;
  width:auto !important;
  height:auto !important;
}
INPUT[type="radio"],
INPUT[type="checkbox"]{
  width:5.0mm !important;
  height:5.0mm !important;
}

TEXTAREA{
  font-size:6.0mm;
  font-weight : normal;
  height: auto !important;
}
SELECT{
  font-weight : normal;
  font-size:6.0mm;
  width: auto !important;
}
-->
