<!--
@import url("font.css");
a:hover { color: #330066; font-weight:bold;}
table { font-size: 3.8mm; }
td { font-size: 3.8mm; }
th { font-size: 3.8mm; font-weight:normal;}
td.cln { font-size: 4.0mm; }
body { 
  
  font-size: 3.8mm;
}

.err { font-size:4.5mm;color:red;font-weight:bold; }

a.dontdel:link { color: #999999; text-decoration:none; }
a.dontdel:visited{ color: #999999; text-decoration:none; }

.no_search { background-color: #6390d3;color: #ffffff; } 
.search { background-color: #3399cc;color: #ffffff; } 
tr.no_search_line { background-color: #255476; } 
tr.search_line { background-color: #000066; }

INPUT{
  font-weight : normal;
}
TEXTAREA{
  font-weight : normal;
}
SELECT{
  font-weight : normal;
}
-->
