<!--
@import url("font.css");
a { color: yellow; font-weight:nomal;}
a:hover { color: yellow; font-weight:bold;}
table { font-size: 3.8mm; }
td { font-size: 3.8mm; background-color: mediumblue; border: 1px solid white; color: yellow;}
th { font-size: 3.8mm; font-weight:normal;}
td.cln { font-size: 4.0mm; }
body { 
  
  font-size: 3.8mm;
  background: mediumblue;
}

.err { font-size:4.5mm;color:red;font-weight:bold; }

a.dontdel:link { color: #999999; text-decoration:none; }
a.dontdel:visited{ color: #999999; text-decoration:none; }

.no_search { background-color: yellow;color: mediumblue; } 
.search { background-color: #3399cc;color: #ffffff; } 
tr.no_search_line { background-color: mediumblue; } 
tr.search_line { background-color: #000066; }

INPUT{
  font-weight : normal;
}
TEXTAREA{
  font-weight : normal;
}
SELECT{
  font-weight : normal;
}



.sunko_header_x table {
    border:1px solid mediumblue;
}
.sunko_header_h table, .sunko_header_h th {
    border:1px solid mediumblue;
}
.sunko_header_v table, .sunko_header_v td {
    border:1px solid mediumblue;
}
.sunko_data table, .sunko_data td {
    border:1px solid #ffffff;
}
.sunko_field {
    border:1px solid #ffffff;
}
-->
