<!--
@import url("font.css");
a:hover { color: #330066; font-weight:bold;}
table { font-size: 3.8mm; }
td { font-size: 3.8mm; }
th { font-size: 3.8mm; font-weight:normal;}
td.cln { font-size: 4.0mm; }
body { 
  
  font-size: 3.8mm;
}

.err { font-size:4.5mm;color:red;font-weight:bold; }

a.dontdel:link { color: #999999; text-decoration:none; }
a.dontdel:visited{ color: #999999; text-decoration:none; }

.no_search { background-color: #ffbe84;color: #ffffff; } 
.search { background-color: #3399cc;color: #ffffff; } 
tr.no_search_line { background-color: #8b4513; } 
tr.search_line { background-color: #000066; }

INPUT{
  font-weight : normal;
}
TEXTAREA{
  font-weight : normal;
}
SELECT{
  font-weight : normal;
}



.sunko_header_x table {
    border:1px solid #8b4513;
}
.sunko_header_h table, .sunko_header_h th {
    border:1px solid #8b4513;
}
.sunko_header_v table, .sunko_header_v td {
    border:1px solid #8b4513;
}
.sunko_data table, .sunko_data td {
    border:1px solid #8b4513;
}
.sunko_field {
    border:1px solid #8b4513;
}
-->
