<!--
@import url("font.css");
a:hover { color: #330066; font-weight:bold;}
table { font-family: font-size: 6.0mm; }
td { font-family: font-size: 6.0mm; }
th { font-family: font-size: 6.0mm; font-weight:normal;
    border-top: 0px solid #ffffff;
    box-shadow: rgba(100, 100, 100, .5) 0px -10px 5px -5px inset, rgba(255, 255, 255, .5) 0px 10px 5px -5px inset;
    text-shadow: -1px 1px 0 rgba(0,0,0,.3);
}
td.cln { font-family: font-size: 4.0mm; }
body { 
  font-family: 
  font-size: 6.0mm;
}

.err { font-size:4.5mm;color:red;font-weight:bold; }

a.dontdel:link { color: #999999; text-decoration:none; }
a.dontdel:visited{ color: #999999; text-decoration:none; }

.no_search { background-color: #A59EBD;color: #ffffff; 
    border-top: 0px solid #ffffff;
    box-shadow: rgba(100, 100, 100, .5) 0px -10px 5px -5px inset, rgba(255, 255, 255, .5) 0px 10px 5px -5px inset;
    text-shadow: -1px 1px 0 rgba(0,0,0,.3);
} 
.search { background-color: #3399cc;color: #ffffff; } 
tr.no_search_line { background-color: #000080; } 
tr.search_line { background-color: #000066; }

INPUT{
  font-size:6.0mm;
  width:auto !important;
  height:auto !important;
}
INPUT[type="radio"],
INPUT[type="checkbox"]{
  width:5.0mm !important;
  height:5.0mm !important;
}

TEXTAREA{
  font-size:6.0mm;
  font-weight : normal;
  height: auto !important;
}
SELECT{
  font-weight : normal;
  font-size:6.0mm;
  width: auto !important;
}
-->
