<!--
@import url("common/gkcss/font.css");
/*@charset "utf-8";
@font-face {
	font-family: 'gaiji';
	src:url('/demo/image/EUDC.woff') format('woff');
}
table { font-family: 'gaiji',"ＭＳ ゴシック", "Osaka"; }
td { font-family: 'gaiji',"ＭＳ ゴシック", "Osaka";}
th { font-family: 'gaiji',"ＭＳ ゴシック", "Osaka"; }
td.cln { font-family: "'gaiji',ＭＳ ゴシック", "Osaka"; }
body { 
  font-family: 'gaiji',"ＭＳ ゴシック", "Osaka"; 
}*/


INPUT{
  font-family: 'gaiji',"ＭＳ ゴシック", "Osaka"; 
}
TEXTAREA{
  font-family: 'gaiji',"ＭＳ ゴシック", "Osaka"; 
}
SELECT{
  font-family: 'gaiji',"ＭＳ ゴシック", "Osaka"; 
}

body { 
  font-size: 5mm;
}
INPUT{
  font-size: 5mm;
}
TEXTAREA{
  font-weight : normal;
}
SELECT{
  font-weight : normal;
}

table {
 margin: 10px auto;
 font-size: 8mm;
 border-spacing: 3px;
}

#header-wrapper {
  height: 20px;
}
#header {
  height: 20px;
}
#site-title {
  padding: 10px 0 0 0;
}
h3 {
  font-size: 20px;
}
td {
  padding: 4px;
  text-align: center;
  border: solid 1px #ccc;
  background: #fff;
  cursor: pointer;
}
td:hover {
background-color: #CCFFFF;  /* マウスオーバー時のセルの背景色 */
}
-->
