  /*****親カテゴリ*****/

  #accordion2 div div, #accordion2big div div{ 
    border-top: 1px solid #FFFFFF; 
    background: #6390d3; 
    color: #FFFFFF;
    word-break: keep-all;
  } 

  #accordion2 div div a, #accordion2big div div a{ 
    color: #FFFFFF;
  } 


  /**カテゴリオンマウス**/

  #accordion2 div div:hover, #accordion2big div div:hover { 
    background: #aec1e3; 
  } 

  /**サブカテゴリ全体**/

  #accordion2 ul, #accordion2big ul{ 
    background: #6390d3; 
  } 
  #accordion2 ul li, #accordion2big ul li{ 
    background: #6390d3; 
  } 

/*TOPのdiv選択中用*/
.lefttopchoice {
    background: #1234d3 !important; 
}
.lefttopchoice:hover { 
    background: #2d70e3 !important; 
} 

/*TOPのaタグ用*/
.alefttop {
    color: #FFFFFF;
}


/*1番目のメニューの選択中用*/
.choice {
    border-top: 1px solid #FFFFFF; 
    background: #1234d3 !important; 
    color: #FFFFFF;
}
.choice:hover { 
    background: #2d70e3 !important; 
} 

/*2番目のメニューの選択中用*/
.active {
    background: #ffffff !important;
}
/*kenjaMenu1には必要ないもの(hoverのときの文字色変更)*/
.active a{
    color: #6390d3 !important;
}
.active a:hover{
    color: #FFFFFF !important;
}
/****************************/

  /**サブカテゴリのリンク**/
  /****************************************************
  **以下に記載されているベンダープレフィックスは     **
  **外したほうがよい場合もあります。                 **
  **ベンダープレフィックスとは-moz- -webkit- -o- -ms-**
  **もしcssが機能しないときは、これを外してください。**
  ****************************************************/

  #accordion2 ul li a, #accordion2big ul li a{ 
    color: #ffffff; 
  } 

  /**サブカテゴリのリンク（チェック）3にだけ残すword-break使うならkyotuに入れる**/
  #accordion2 input:checked + div ul li a, #accordion2big input:checked + div ul li a{ 
    word-break: keep-all;
  } 


  /**サブカテゴリーの最初と最後の余分なボーダー消す＋TOPにシャドウかけてます**/
  #accordion2 input:checked + div ul li:first-child a, #accordion2big input:checked + div ul li:first-child a{ 
    border-top: 0; 
    box-shadow: 0 7px 7px -7px rgba(0,0,0,.5) inset; 
  } 

  #accordion2 input:checked + div ul li:last-child a, #accordion2big input:checked + div ul li:last-child a{ 
    border-bottom: 0; 
    /*box-shadow: 0 -7px 7px -7px rgba(0,0,0,.5) inset; /*下にもシャドウかけられる*/
  } 


  /**サブカテゴリーオンマウス**/
  #accordion2 input:checked + div ul li a:hover, #accordion2big input:checked + div ul li a:hover{ 
    background: #aec1e3; 
    border-top-color: #eef7fa; 
  } 
  /**シャドウ**/
  #accordion2 input:checked + div ul, #accordion2big input:checked + div ul { 
    box-shadow: 0 7px 7px -7px rgba(0,0,0,.5) inset; 
  } 

/*メニュー表示モードの装飾*/
    .select{
        background:#6390d3/*#0090d2*/;
        color:#fff;
	    box-shadow: 0 2px #ddd;

    }
    .notselect{
        background:#9ec4fb;
        color:#3768b1;
	    box-shadow: 0 2px #ddd;
    }
    #menuMode a:hover {
        background:#aec1e3;
        color:#fff;
    }

/*ログアウトの装飾*/
    #logout a {
        background:#E23E57;
        color:#fff;
	    box-shadow: 0 2px #ddd;
    }
    #logout a:hover {
        background:#FF9999;
        color:#fff;
     }

/*右側メニュー用*/
.right td {
    color: #666;
}
.rightbig td {
    color: #666;
}
.right td a, .rightbig td a{
    color: #337ab7;
}

.right td a:hover, .rightbig td a:hover{
    color: #23527c;
}

.right th {
    background-color: #6390d3;
    color: white;
}
.rightbig th{
    background-color: #6390d3;
    color: white;
}

.right th a, .right th a:hover, .rightbig th a, .rightbig th a:hover{
    background-color: #6390d3;
    color: white;
}
.rightbig th a, .rightbig th a:hover{
    background-color: #6390d3;
    color: white;
}
.title {
    background:#fff2ed/*f9dfd5*/;
}

/*お知らせテーブル用*/
.right table.top, .rightbig table.top{ 
    border: 1px solid gray;
}

.right table.top th{ 
    background-color: #89c3eb !important; 
    color: white; 
    border: 1px solid gray;
}

.right table.top td{ 
    border: 1px solid gray;
}

.rightbig table.top th{ 
    background-color: #89c3eb !important; 
    color: white; 
    border: 1px solid gray;
}

.rightbig table.top td{ 
    border: 1px solid gray;
}


#gakuname {
    border-bottom: 2px dashed #d14;
}
#gakuname:before{
    background: #d14;
}
#gakuname:after{
    background: #d14;
}
.rightbig #gakuname:before{
    background: #d14;
}
.rightbig #gakuname:after{
    background: #d14;
}

/*メニューのタイトル部分のリンク用に*/
.link  {
    color: white; 
}

/*つーるちっぷよう*/

.fsample tr {
    border: 1px solid #c0c0c0;
}
.fsamplebig tr {
    border: 1px solid #c0c0c0;
}

.sample th{ 
    border: 1px solid #c0c0c0;
}

.sample td{ 
    border: 1px solid #c0c0c0;
}

.samplebig th{ 
    border: 1px solid #c0c0c0;
}

.samplebig td{ 
    border: 1px solid #c0c0c0;
}
.sample td i, .samplebig td i {
    color: #337ab7;
}

/*TOP画面文字サイズ変更リンクデザイン*/
.size {
    background:#c8ddfa;
    color:#3768b1 !important;
}
.sizechoice {
    background:#6390d3;
    color:#ffffff !important;
}
.size:hover, .sizechoice:hover {
    background:#aec1e3;
    color:#ffffff !important;
}

/*二回目のログイン画面*/
.seclogin {
    color: #ffffff;
}
.seclogin th {
	background:#6390d3;
    border: 1px solid #c0c0c0;
}
.seclogin td {
    border: 1px solid #c0c0c0;
}

