
#left::-webkit-scrollbar-thumb:hover
{
        background:#96514d;
}
  /*****親カテゴリ*****/

  #accordion2 div div, #accordion2big div div{ 
    border-top: 2px dotted  #FFFFFF; 
    background: gray; 
    color: white;
    
  } 
/*IEだけ点線じゃなくて実線にする*/
@media all and (-ms-high-contrast:none){
  #accordion2 div div, #accordion2big div div{ 
    border-top: 2px dashed  #FFFFFF; 
    /*border-top: 3px double  #FFFFFF; 二重線*/
    background: gray; 
    color: white;
    
  } 
}

  #accordion2 div div a, #accordion2big div div a{ 
    color: white;
    
  } 

  /**カテゴリオンマウス**/

  #accordion2 div div:hover, #accordion2big div div:hover { 
    /*background: #f0908d; */
    text-decoration: underline;
  } 

  /**サブカテゴリ全体**/

  #accordion2 ul, #accordion2big ul{ 
    background: silver; 
  } 
  #accordion2 ul li, #accordion2big ul li{ 
    background: silver; 
  } 

/*TOPのdiv選択中用*/
.lefttopchoice {
/*    background: yellow !important; 
    color:  black !important;*/
}
.lefttopchoice:hover { 
    /*background: #e198b4 !important; */
    text-decoration: underline;
} 

/*TOPのaタグ用*/
.alefttop {
    /*color: yellow;*/
}


/*1番目のメニューの選択中用*/
.choice {
    background: silver !important; 
    color: black !important;
}
.choice:hover { 
    /*background: yellow !important; */
    text-decoration: underline;
} 

/*2番目のメニューの選択中用*/
.active {
    background: #ffffff !important;
}

  /**サブカテゴリのリンク**/
  /****************************************************
  **以下に記載されているベンダープレフィックスは     **
  **外したほうがよい場合もあります。                 **
  **ベンダープレフィックスとは-moz- -webkit- -o- -ms-**
  **もしcssが機能しないときは、これを外してください。**
  ****************************************************/

  #accordion2 ul li a, #accordion2big ul li a{ 
    color: black; 
  } 

  /**サブカテゴリーの最初と最後の余分なボーダー消す＋TOPにシャドウかけてます**/
  #accordion2 input:checked + div ul li:first-child a, #accordion2big input:checked + div ul li:first-child a{ 
    border-top: 0; 
    box-shadow: 0 7px 7px -7px rgba(0,0,0,.5) inset; 
  } 

  #accordion2 input:checked + div ul li:last-child a, #accordion2big input:checked + div ul li:last-child a{ 
    border-bottom: 0; 
  } 
  #accordion2 input:checked + div ul, #accordion2big input:checked + div ul{ 
    border-top: 0; 
    box-shadow: 0 7px 7px -7px rgba(0,0,0,.5) inset; 
  } 


  /**サブカテゴリーオンマウス**/
  #accordion2 input:checked + div ul li a:hover, #accordion2big input:checked + div ul li a:hover{ 
    /*background: #f0908d; 
    border-top-color: #eef7fa; */
    text-decoration: underline;
  } 

/*メニュー表示モードの装飾*/
    .select{
        background:gray;
        color:white;
        /*border: 1px solid yellow;*/
    }
    .notselect{
        background:silver;
        color:black;
        /*border: 1px solid yellow;*/
    }
    #menuMode a:hover {
        /*background:#f0908d;
        color:#fff;*/
        text-decoration: underline;
    }

/*ログアウトの装飾*/
    #logout a {
        background:silver;
        color:black;
    }
    #logout a:hover {
        background:gray;
        color:#fff;
     }

/*右側メニュー用*/
.right td{
    color: #666;
}
.rightbig td{
    color: #666;
}
.right td a, .rightbig td a{
    color: #337ab7;
}

.right td a:hover, .rightbig td a:hover{
    color: #23527c;
}

.right th , .rightbig th{
    background-color: gray;
    color: white;
}

.fsample th a, .fsample th a:hover, .fsamplebig th a, .fsamplebig th a:hover{
    background-color: gray;
    color: white;
}
/*
.rightbig th a, .rightbig th a:hover{
    background-color: gray;
    color: white;
}
*/

.title {
    background:#f5f5f5;
}

/*お知らせテーブル用*/
.right table.top, .rightbig table.top{ 
    border: 1px solid #dcdcdc;
}

.right table.top th{ 
    background-color: silver !important; 
    color: black; 
    border: 1px solid #dcdcdc;
}

.right table.top td{ 
    border: 1px solid #dcdcdc;
}

.rightbig table.top th{ 
    background-color: silver !important; 
    color: black; 
    border: 1px solid #dcdcdc;
}

.rightbig table.top td{ 
    border: 1px solid #dcdcdc;
}


#gakuname {
    border-bottom: 2px dashed #FF5AB0;
}
#gakuname:before{
    background: #FF5AB0;
}
#gakuname:after{
    background: #FF5AB0;
}
.rightbig #gakuname:before{
    background: #FF5AB0;
}
.rightbig #gakuname:after{
    background: #FF5AB0;
}
/*メニューのタイトル部分のリンク用に*/
.link  {
    color: white; 
}

/*つーるちっぷよう*/
.fsample tr{ 
    border: 1px solid #c0c0c0;
}

.fsamplebig tr{ 
    border: 1px solid #c0c0c0;
}

.sample th{ 
    border: 1px solid #c0c0c0;
}

.sample td{ 
    border: 1px solid #c0c0c0;
}

.samplebig th{ 
    border: 1px solid #c0c0c0;
}

.samplebig td{ 
    border: 1px solid #c0c0c0;
}
.sample td i, .samplebig td i {
    color: #337ab7;
}

/*TOP画面文字サイズ変更リンクデザイン*/
.size, .size1 {
    background:silver;
    color:black !important;
}
.sizechoice, .size0 {
    background:gray;
    color:white !important;
}
.size:hover, .sizechoice:hover, .size0:hover, .size1:hover {
    background:#dcdcdc;
    color:black !important;
}

/*二回目のログイン画面*/
.seclogin {
    color: black;
}
.seclogin th {
	background:gray;
    color: white;
    border: 1px solid #c0c0c0;
}
.seclogin td {
    border: 1px solid #c0c0c0;
}


