
  /*****親カテゴリ*****/

  #accordion2 div div, #accordion2big div div{ 
    border-top: 1px solid #000080;
    background: #A59EBD; 
    color: #FFFFFF;
  } 

  #accordion2 div div a, #accordion2big div div a{ 
    color: #FFFFFF;
    
  } 
  /**カテゴリオンマウス**/

  #accordion2 div div:hover, #accordion2big div div:hover { 
    background: #a899ff; 
  } 

  /**サブカテゴリ全体**/

  #accordion2 ul, #accordion2big ul{ 
    background: #D6CFDE; 
  } 
  #accordion2 ul li, #accordion2big ul li{ 
    background: #D6CFDE; 
  } 

/*TOPのdiv選択中用*/
.lefttopchoice {
    background: #7379ae !important; 
}
.lefttopchoice:hover { 
    background: #b7b7ff !important; 
} 

/*TOPのaタグ用*/
.alefttop {
    color: #FFFFFF;
}


/*1番目のメニューの選択中用*/
.choice {
    background: #7379ae !important; 
    color: #FFFFFF;
}
.choice:hover { 
    background: #b7b7ff !important; 
} 

/*2番目のメニューの選択中用*/
.active {
    background: #ffffff !important;
}

  /**サブカテゴリのリンク**/
  /****************************************************
  **以下に記載されているベンダープレフィックスは     **
  **外したほうがよい場合もあります。                 **
  **ベンダープレフィックスとは-moz- -webkit- -o- -ms-**
  **もしcssが機能しないときは、これを外してください。**
  ****************************************************/

  #accordion2 ul li a, #accordion2big ul li a{ 
    color: #000080; 
  } 


  /**サブカテゴリーの最初と最後の余分なボーダー消す＋TOPにシャドウかけてます**/
  #accordion2 input:checked + div ul li:first-child a, #accordion2big input:checked + div ul li:first-child a{ 
    border-top: 0; 
    box-shadow: 0 10px 7px -7px rgba(0,0,0,.5) inset; 
  } 

  #accordion2 input:checked + div ul li:last-child a, #accordion2big input:checked + div ul li:last-child a{ 
    border-bottom: 0; 
  } 
  #accordion2 input:checked + div ul, #accordion2big input:checked + div ul{ 
    box-shadow: 0 10px 7px -7px rgba(0,0,0,.5) inset; 
  } 


  /**サブカテゴリーオンマウス**/
  #accordion2 input:checked + div ul li a:hover, #accordion2big input:checked + div ul li a:hover{ 
    background: #a899ff; 
  } 

/*メニュー表示モードの装飾*/
    .select{
        background:#A59EBD;
        color:#fff;

    }
    .notselect{
        background:#D6CFDE;
        color:#666;
    }
    #menuMode a:hover {
        background:#a899ff;
    }

/*ログアウトの装飾*/
    #logout a {
        background:#E23E57;
        color:#fff;
    }
    #logout a:hover {
        background:#FF9999;
        color:#fff;
     }



/*右側メニュー用*/
.right td{
    color: #666;
}
.rightbig td{
    color: #666;
}
.right td a, .rightbig td a{
    color: #337ab7;
}

.right td a:hover, .rightbig td a:hover{
    color: #23527c;
}

.right th , .rightbig th,
.rightblack th , .rightbigblack th{
    background-color: #A59EBD;
    color: white;
}
.right th a, .right th a:hover, .rightbig th a, .rightbig th a:hover,
.rightblack th a, .rightblack th a:hover, .rightbigblack th a, .rightbigblack th a:hover{
    background-color: #A59EBD;
    color: white !important;
}
.rightbig th a, .rightbig th a:hover,
.rightbigblack th a, .rightbigblack th a:hover{
    background-color: #A59EBD;
    color: white;
}

.title {
    background:#fcffcc/*f9dfd5*/;
}

/*お知らせテーブル用*/
.right table.top, .rightbig table.top, 
.rightblack table.top, .rightbigblack table.top{ 
    border: 1px solid gray;
}

.right table.top th, 
.rightblack table.top th{ 
    background-color: #84a2d4 !important; 
    color: white; 
    border: 1px solid gray;
}

.right table.top td{ 
    border: 1px solid gray;
}

.rightbig table.top th, 
.rightbigblack table.top th{ 
    background-color: #84a2d4 !important; 
    color: white; 
    border: 1px solid gray;
}

.rightbig table.top td{ 
    border: 1px solid gray;
}


#gakuname {
    border-bottom: 2px dashed #d14;
}
#gakuname:before{
    background: #d14;
}
#gakuname:after{
    background: #d14;
}
.rightbig #gakuname:before{
    background: #d14;
}
.rightbig #gakuname:after{
    background: #d14;
}


/*メニューのタイトル部分のリンク用に*/
.link  {
    color: white; 
}

/*つーるちっぷよう*/
.fsample tr{ 
    border: 1px solid #c0c0c0;
}


.fsamplebig tr{ 
    border: 1px solid #c0c0c0;
}

.sample th, 
.sampleblack th{ 
    border: 1px solid #c0c0c0;
}

.sample td{ 
    border: 1px solid #c0c0c0;
}
.samplebig th, 
.samplebigblack th{ 
    border: 1px solid #c0c0c0;
}

.samplebig td{ 
    border: 1px solid #c0c0c0;
}

.sample td i, .samplebig td i {
    color: #337ab7;
}


/*TOP画面文字サイズ変更リンクデザイン*/
.size {
    background:#D6CFDE;
    color:#666666 !important;
}
.sizechoice {
    background:#A59EBD;
    color:#ffffff !important;
}
.size:hover, .sizechoice:hover {
    background:#a899ff;
    color:#ffffff !important;
}
/*TOP画面背景色変更リンクデザイン*/
.bgstandard, .bgstandard:hover {
    background:#D6CFDE;
    color:#666666 !important;
}
.bgblack, .bgblack:hover {
    background:black;
    color:yellow !important;
}
/*二回目のログイン画面*/
.seclogin {
    color: #ffffff;
}
.seclogin th {
	background:#A59EBD;
    border: 1px solid #c0c0c0;
}
.seclogin td {
    border: 1px solid #c0c0c0;
}


