  /***********アコーディオンメニュー全体***************/


  /*****親カテゴリ*****/

  #accordion2 div div, #accordion2big div div{ 
    background: #7379ae; 
    color: #FFFFFF;
    
  } 

  #accordion2 div div a, #accordion2big div div a{ 
    color: #FFFFFF;
    
  } 


  /**カテゴリオンマウス**/

  #accordion2 div div:hover, #accordion2big div div:hover { 
    background: #aec1e3; 
  } 

  /**サブカテゴリ全体**/

  #accordion2 ul, #accordion2big ul{ 
    background: #eeeeee; 
  } 
  #accordion2 ul li, #accordion2big ul li{ 
    background: #eeeeee; 
  } 

/*TOPのdiv選択中用*/
.lefttopchoice {
    padding: 0px !important; 
    background: #a899ff !important; 
}
.lefttopchoice:hover { 
    background: #b3e4ff !important; 
    padding: 0px !important; 
} 

/*TOPのaタグ用*/
.alefttop {
    color: #FFFFFF;
}

/*1番目のメニューの選択中用*/
.choice {
    background: #a899ff !important; 
    color: #FFFFFF;
}
.choice:hover { 
    background: #b3e4ff !important; 
} 

/*2番目のメニューの選択中用*/
.active {
    background: #ffffff !important;
}

  /**サブカテゴリのリンク**/
  /****************************************************
  **以下に記載されているベンダープレフィックスは     **
  **外したほうがよい場合もあります。                 **
  **ベンダープレフィックスとは-moz- -webkit- -o- -ms-**
  **もしcssが機能しないときは、これを外してください。**
  ****************************************************/

  #accordion2 ul li a, #accordion2big ul li a{ 
    color: #7379ae; 
  } 

  /**サブカテゴリーの最初と最後の余分なボーダー消す＋TOPにシャドウかけてます**/
  #accordion2 input:checked + div ul li:first-child a, #accordion2big input:checked + div ul li:first-child a{ 
    border-top: 0; 
    box-shadow: 0 7px 7px -7px rgba(0,0,0,.5) inset; 
  } 

  /**サブカテゴリーオンマウス**/
  #accordion2 input:checked + div ul li a:hover, #accordion2big input:checked + div ul li a:hover{ 
    background: #aec1e3; 
    border-top-color: #eef7fa; 
  } 
  /**シャドウ**/
  #accordion2 input:checked + div ul, #accordion2big input:checked + div ul { 
    box-shadow: 0 7px 7px -7px rgba(0,0,0,.5) inset; 
  } 

/*メニュー表示モードの装飾*/
    .select{
        background:#7379ae/*#0090d2*/;
        color:#fff;

    }
    .notselect{
        background:#eee;
        color:#666;
    }
    #menuMode a:hover {
        background:#aec1e3;
        color:#fff;
    }

/*ログアウトの装飾*/
    #logout a {
        background:#E23E57/*#0090d2*/;
        color:#fff;
    }
    #logout a:hover {
        background:#FF9999;
        color:#fff;
     }

/*右側メニュー用*/
.right td {
    color: #666;
}
.rightbig td {
    color: #666;
}
.right td a, .rightbig td a{
    color: #337ab7;
}

.right td a:hover, .rightbig td a:hover{
    color: #23527c;
}

.right th , .rightbig th{
    background-color: #7379ae;
    color: white;
}

.fsample th a, .fsample th a:hover, .fsamplebig th a, .fsamplebig th a:hover{ 
    background-color: #7379ae;
    color: white !important;
}
/*
.rightbig th a, .rightbig th a:hover{
    background-color: #7379ae;
    color: white;
}
*/
.title {
    background:#fcffcc/*f9dfd5*/;
}

/*お知らせテーブル用*/
.right table.top, .rightbig table.top{ 
    border: 1px solid gray;
}

.right table.top th{ 
    background-color: #c0a2c7 !important; 
    color: white; 
    border: 1px solid gray;
}

.right table.top td{ 
    border: 1px solid gray;
}

.rightbig table.top th{ 
    background-color: #c0a2c7 !important; 
    color: white; 
    border: 1px solid gray;
}

.rightbig table.top td{ 
    font-size: 150%;
    border: 1px solid gray;
    padding: 5px;
}

#gakuname {
    border-bottom: 2px dashed #d14;
}
#gakuname:before{
    background: #d14;
}
#gakuname:after{
    background: #d14;
}
.rightbig #gakuname:before{
    background: #d14;
}
.rightbig #gakuname:after{
    background: #d14;
}

/*メニューのタイトル部分のリンク用に*/
.link  {
    color: white; 
}

/*つーるちっぷよう*/
.fsample tr{ 
    border: 1px solid #c0c0c0;
}

.fsamplebig tr{ 
    border: 1px solid #c0c0c0;
}

.sample th{ 
    border: 1px solid #c0c0c0;
}

.sample td{ 
    border: 1px solid #c0c0c0;
}
.samplebig th{ 
    border: 1px solid #c0c0c0;
}

.samplebig td{ 
    border: 1px solid #c0c0c0;
}
.sample td i, .samplebig td i {
    color: #337ab7;
}

/*TOP画面文字サイズ変更リンクデザイン*/
.size, .size1 {
    background:#eeeeee;
    color:#333 !important;
}
.sizechoice, .size0 {
    background:#7379ae/*#0090d2*/;
    color:#fff !important;
}
.size:hover, .sizechoice:hover, .size0:hover, .size1:hover {
    background:#aec1e3;
    color:#fff;
}

/*二回目のログイン画面*/
.seclogin {
    color: #ffffff;
}
.seclogin th {
	background:#7379ae;
    border: 1px solid #c0c0c0;
}
.seclogin td {
    border: 1px solid #c0c0c0;
}

