@charset "utf-8";
/* CSS Document */

body{
	font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
 color:#333;
 }
 
html,
body,
ul,
li,
h1,
h2
{
	margin:0;
	padding:0;
}
p{
	margin-top:10px;
	margin-bottom:10px;
	line-height:1.2;
}


 
 h1{
	 font-size:130%;
	 margin-top:10px;
	 padding:10px;
	 color:#fff;
	 background:#7379ae;
	 border-bottom:1px solid #7379ae;
	 clear:both;
 }
 h2{
	 font-size:100%;
	 margin-top:15px;
 }
th{
	background:#7379ae/*dedfef*/;
	color:#fff;
}
td{
	font-size:90%;
}

a{
	text-decoration:none;
}

/*bootstrap*/
/*.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}*/
label{
	margin-right:5px;
}
.label-default{
	background:#eee;
	color:#7379ae;
}
.table-bordered{
}

.filter .panel{
	padding:10px;
	margin-top:10px;
}
/*メニューボタン*/
.btn{
	padding:5px;
	font-size:90%;
	margin:10px 0;
	margin-bottom: 2px !important;
    box-shadow: 0 2px #D0D0D0;
    white-space: normal;
}
.btn-group .btn{
	 box-shadow:none!important;

}
.btn-first{
	background:#7379ae/*#0090d2*/;
	color:#fff;
	border-radius:0;
	width:50%;
	display:inline-block;

}
.btn-next{
	background:#eee;
	color:#666;
	border-radius:0;
	width:50%;
	display:inline-block;
}
.btn-logout{
	background:#7379ae/*#0090d2*/;
	color:#fff;
	border-radius:0;
	padding:10px 0;
}
.btn-primary{
	background:#7379ae/*#0090d2*/;
	/*border-radius:0;*/
	border:none;
	margin-left:5px;
}
.panel-primary{
	border-color:#7379ae;
	border-radius:none;
	
}
.panel-primary > .panel-heading{
	background:#7379ae/*#0090d2*/;
	border-color:#7379ae;
	padding:10px;
	border-top-left-radius:0!important;
	border-top-right-radius:0!important;
}
.label-danger{
	background:#c97fb4;
}
/*ヘッダー*/
header{
	margin:10px 0 5px;
	color:#7379ae;
}

header .peson{
	background:#dfe2ff;
	padding:5px 10px;
	border-radius:3px;
}

/*サイドメニュー*/
aside{
}
aside li{
	list-style-type:none;
	background:#7379ae;
	color:#ffffff;
}
aside li a{
	background:#7379ae/*#0090d2*/;
	padding:10px;
	display:block;
	color:#ffffff;
	text-decoration:none;
}
aside li a:hover{
	background:#0090d2;
	text-decoration:none;
	color:#ffffff;
}
aside ul ul{
}
aside li li{
	list-style-type:none;
}
aside li li a{
	background:#eee;
	color:#7379ae;
	padding-left:2em;
}
aside li a.active{
	background:#fff;
	color:#7379ae;
}

aside li a.active:hover{
	background:#aec1e3;
	text-decoration:none;
	color:#fff;
}
aside td .fa-female{
	color:#ce579b;
}
i.male:after{
	content:"\f183";
	font-family: FontAwesome;
	font-style:normal;
	margin-right:5px;
	color:#208dc3;
}
i.female:after{
	content:"\f182";
	font-family: FontAwesome;
	font-style:normal;
	margin-right:5px;
	color:#ce579b;
}
/*table*/
article{
}

article h1{
	margin-bottom:10px;
}
article h2{
	margin-bottom:10px;
}
article .panel{
	border-radius:0;
}
header .btn-primary,
article .btn-primary{
	background:#208dc3;
}
article select{
	width:100%;
}
article table{
	margin:10px auto;
	width:100%;
}
article table caption{
	background:#7379ae/*#0090d2*/;
	color:#ffffff;
	padding:5px;
}
article td.sub{
	background:#fcffcc/*f9dfd5*/;
	font-size:105%;
}
article td{
	color:#666;
}
article a{
	margin-right:15px;
}
article td a{
	margin-right:5px;
	font-size:105%;
}
article td{
	font-size:90%;
}
/*aside icon*/
aside li .fa{
	margin-right:5px;
}

footer{
	clear:both;
}

.fa{
	margin-right:5px;
}

dl{
	margin-bottom:5px;
}
dt,dd{
	display:inline-block;
}
dt:nth-of-type(2){
	margin-left:2em;
}

.student td{
	padding:3px!important;
}