@charset "utf-8";
/* CSS Document */

body{
	font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
 color:#333;
 }
 
html,
body,
ul,
li,
h1,
h2
{
	margin:0;
	padding:0;
}
p{
	margin-top:10px;
	margin-bottom:10px;
	line-height:1.2;
}


 
 h1{
	 font-size:130%;
	 margin-top:10px;
	 padding:10px;
	 color:#fff;
	 background:#7379ae;
	 border-bottom:1px solid #7379ae;
	 clear:both;
 }
 h2{
	 font-size:100%;
 }
th{
	background:#7379ae/*dedfef*/;
	color:#fff;
}
td{
	font-size:90%;
}

a{
	text-decoration:none;
}

/*bootstrap*/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
label{
	margin-right:5px;
}
.label-default{
	background:#eee;
	color:#7379ae;
}
.table-bordered{
}

/*メニューボタン*/
.btn{
	padding:5px;
	font-size:90%;
	margin:10px 0;

}
.btn-first{
	background:#7379ae/*#0090d2*/;
	color:#fff;
	border-radius:0;
	width:50%;
	display:inline-block;

}
.btn-next{
	background:#eee;
	color:#666;
	border-radius:0;
	width:50%;
	display:inline-block;
}
.btn-logout{
	background:#7379ae/*#0090d2*/;
	color:#fff;
	border-radius:0;
	padding:10px 0;
}
.btn-primary{
	background:#7379ae/*#0090d2*/;
	border-radius:0;
	border:none;
}

/*ヘッダー*/
header{
	margin:10px 0 5px;
	color:#7379ae;
}

/*サイドメニュー*/
aside{
}
aside li{
	list-style-type:none;
	background:#7379ae;
	color:#ffffff;
}
aside li a{
	background:#7379ae/*#0090d2*/;
	padding:10px;
	display:block;
	color:#ffffff;
	text-decoration:none;
}
aside li a:hover{
	background:#0090d2;
	text-decoration:none;
	color:#ffffff;
}
aside ul ul{
}
aside li li{
	list-style-type:none;
}
aside li li a{
	background:#eee;
	color:#7379ae;
	padding-left:2em;
}
aside li a.active{
	background:#fff;
	color:#7379ae;
}

aside li a.active:hover{
	background:#aec1e3;
	text-decoration:none;
	color:#fff;
}

/*table*/
article{
}
article h1{
	margin-bottom:10px;
}
article h2{
	margin-bottom:10px;
}
article table{
	margin:10px auto;
	width:100%;
}
article table caption{
	background:#7379ae/*#0090d2*/;
	color:#ffffff;
	padding:5px;
}
article td.sub{
	background:#fcffcc/*f9dfd5*/;
	font-size:105%;
}
article td{
	color:#666;
}
article a{
	margin-right:15px;
}
article td a{
	margin-right:5px;
	font-size:105%;
}
article td{
	font-size:90%;
}
/*aside icon*/
aside li .fa{
	margin-right:5px;
}

footer{
	clear:both;
}

.fa{
	margin-right:5px;
}